@model CipherViewModel
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>


<h5><i class="bi bi-braces"></i> Testing Ground</h5>
<p>Algorithim type: Asymmetrical </p>

<div class="d-flex justify-content-center">
<div class="card text-center" style="width: 45rem;">
    <h5 class="card-title"> RSA Algorithim</h5>
    <div class="card-body text-center">  
            <label for="formSelector"> <span style ="color: #802ce1"><i class="bi bi-1-square"></i> Step 1 </span> Select Method</label>
            <div class="d-flex justify-content-center p-1">
            <select id="formSelector" class="form-control" style ="width: 5rem;">
                <option value="form1">Encrypt</option>
                <option value="form2">Decrypt</option>
                
            </select>
            </div>

<div id="form1">
<div class="justify-content-center">
    
        <div class="card-body">   
            @using (Html.BeginForm("RSAE", "Cipher", FormMethod.Post))
            {
            <div class="container">
                <p><span style ="color: #802ce1"><i class="bi bi-2-square"></i> Step 2 </span> Try it out!</p>
                
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3 justify-content-center">
                            <span class="input-group-text" id="key"><i class="bi bi-key"> Encryption Key will generate automatically!</i></span>
                            <button type="submit" class="btn btn-dark btn-sm"><i class="bi bi-play"></i> Encrypt</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-dark" style="color: #ffffff">
                                Text to Encrypt
                            </div>
                             <div class="card-body">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.InputText, new { @class = "form-control" })
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="col p-3">
                        <div class="card">
                            <div class="card-header bg-dark" style="color: #ffffff">
                                Encrypted Text
                            </div>
                            <div class="card-body">
                                @if (!string.IsNullOrEmpty(Model.EncryptedText))
                                {
                                    <p> @Model.EncryptedText</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p><span style ="color: #802ce1"><i class="bi bi-3-square"></i> Step 3 </span> Save Decryption Key</p>
                        <p><span style="color: #d5a505"><i class="bi bi-exclamation-square"></i> Warning: </span> When saving this key, it's important to ignore the <span class="keyword" data-toggle="tooltip" data-placement="top" title="Anything like: <RSAKeyValue><Modulus>" style="color: #d5a505;">wrapping</span> around it, and only copy the long random character assortment</p>
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-dark" style="background-color: #802ce1; color: #ffffff">
                                <i class="bi bi-key"></i>
                                Decryption key
                            </div>
                            <div class="card-body">
                             @Model.EncryptionKey
                            </div>
                        </div>
                        
                    </div>
                </div>
                </div>
            </div>   
            }
        </div>
</div>
</div>

<div id="form2" style="display: none;">
<div class="justify-content-center">

        <div class="card-body">   
            @using (Html.BeginForm("RSAD", "Cipher", FormMethod.Post))
            {
            <div class="container">
                <p><span style ="color: #802ce1"><i class="bi bi-2-square"></i> Step 2 </span> Try it out!</p>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="key"><i class="bi bi-key"> Private Key</i></span>
                            @Html.TextBoxFor(model => model.EncryptionKey, new { @class = "form-control" })
                            <button type="submit" class="btn btn-dark btn-sm"><i class="bi bi-play"></i> Decrypt</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-dark" style="color: #ffffff">
                                Text to Decrypt
                            </div>
                             <div class="card-body">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.InputText, new { @class = "form-control" })
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-dark" style="color: #ffffff">
                                Decrypted Text
                            </div>
                            <div class="card-body">
                                @if (!string.IsNullOrEmpty(Model.DecryptedText))
                                {
                                    <h6>Encrypted Text: @Model.DecryptedText</h6>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            }
        </div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Scripting for dropdown -->
<script>
    $(document).ready(function () {
        $('#formSelector').change(function () {
            var selectedForm = $(this).val();

            // Hide all forms
            $('#form1, #form2').hide();

            // Show the selected form
            $('#' + selectedForm).show();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>