<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@model CipherViewModel

<div class="bubble left"><strong>New in v1.0: </strong>Blowfish Algorithm </div>
<div class="container ">
  <div class="row">
    <div class="col-6">
      <h1 class="display-4"><strong>Algorithm <span class="gradient-text">selection</span></strong></h1>
      <p>Free selection of algorithim types organised by typing and difficulty, ranging from old-school ciphers to modern algorithims currently used by the security industry - made simple</p>
      <!-- new alert-->
      <div class="alert alert-purple w-35">
        <i class="bi bi-emoji-dizzy"></i> New to encyrption and algorithims and need a guide? <a class="btn btn-dark btn-sm" asp-action="Guide" role="button">Yes!</a>
      </div>
      <div class="alert alert-purple position-relative">
        <i class="bi bi-bookmark-heart"></i> Or try out the latest Match-Making service <a class="btn btn-dark btn-sm" asp-action="Match" role="button">Match me!</a>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" style="color: #fff">
        New!
        </span>
      </div>
    </div>
    <div class="col-6">
      <img src="https://i.imgur.com/qN7Ov0n.png" height="310px">
    </div>
  </div>
</div>


<hr class="solid-dark">



<!-- legend-->
<div class="box">
  <div class="row">
    <div class="col-md-auto">
      <p>Algorithm<span class="keyword" data-toggle="tooltip" data-placement="top" title="Algorithims are typed based on how their logic works" style="color: #a324fe;"> types</span>:</p>
    </div>
    <div class="col-md-auto">
      <span style="color: #dc3545">
      <i class="bi bi-square-fill"></i></span>
      Cipher 
    </div>
    <div class="col-md-auto">
      <span style="color: #0dcaf0">
      <i class="bi bi-square-fill"></i></span>
      Symmterical
    </div>  
    <div class="col-md-auto">
      <span style="color: #ffc107">
      <i class="bi bi-square-fill"></i></span>
      Asymmetrical
    </div>
    <div class="col">
      <partial name ="_Search"/>
    </div>
  </div>
</div>


<!-- algo cards-->


<div class="row row-cols-1 row-cols-md-5 g-4">
  @foreach(var a in Model.Algorithms)
  {
    <div class ="col">
      <div class="card shadow ">
        
        <div class="card-body bg-light">
          @if (a.TypeClass == "Cipher"){
            <img src="https://i.imgur.com/TcyzHID.png" class="img-fluid rounded ">
          }
          else if (a.TypeClass == "Symmetrical"){
            <img src="https://i.imgur.com/BCZw7r4.png" class="img-fluid rounded ">
          }
          else {
            <img src="https://i.imgur.com/iZtf44C.png" class="img-fluid rounded ">
          }
          <a class = "link-dark text-decoration-none" asp-action="Details" asp-route-id=@a.Id>
            <h5 class="card-title p-1">@a.Name</h5>
          </a>
          <p class="ps">@a.Description</p>
          @switch(a.Name){
            case "Caesar":
              <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-purple" asp-action="_Cipher" role="button">Try it out</a>
                <a class="btn btn-dark" asp-action="Details" asp-route-id=@a.Id role="button"><span class="text">Learn</span></a>
              </div>
              break;
            case "A1Z26":
            <div class="d-grid gap-2 d-md-block">
              <a class="btn btn-purple" asp-action="_Cipher2" role="button">Try it out</a>
              <a class="btn btn-dark" asp-action="Details" asp-route-id=@a.Id role="button"><span class="text">Learn</span></a>
            </div>  
              break;
            case "AES":
            <div class="d-grid gap-2 d-md-block">
              <a class="btn btn-purple" asp-action="_Sym" role="button">Try it out</a>
              <a class="btn btn-dark" asp-action="Details" asp-route-id=@a.Id role="button"><span class="text">Learn</span></a>
            </div>
              break;
            case "Blowfish":
            <div class="d-grid gap-2 d-md-block">
              <a class="btn btn-purple" asp-action="_Sym2" role="button">Try it out</a>
              <a class="btn btn-dark" asp-action="Details" asp-route-id=@a.Id role="button"><span class="text">Learn</span></a>
            </div>
              break;
            case "RSA":
            <div class="d-grid gap-2 d-md-block">
              <a class="btn btn-purple" asp-action="_Asym" role="button">Try it out</a>
              <a class="btn btn-dark" asp-action="Details" asp-route-id=@a.Id role="button"><span class="text">Learn</span></a>
            </div>
              break;
            default:
              <p>Test unavailable</p>
              break;
          }
          
        </div>
        <div class="card-footer">
          @if (a.TypeClass == "Cipher"){
            <span style="color: #dc3545">
            <i class="bi bi-square-fill"></i></span>
            <small class="text-muted">@a.TypeClass</small>
          }
          else if (a.TypeClass == "Symmetrical"){
            <span style="color: #0dcaf0">
            <i class="bi bi-square-fill"></i></span>
            <small class="text-muted">@a.TypeClass</small>
          }
          else {
            <span style="color: #ffc107">
            <i class="bi bi-square-fill"></i></span>
            <small class="text-muted">@a.TypeClass</small>
          }
          
        </div>
      </div>
    </div>
  }
</div>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

